<launch>

  <!-- Default value for run_arm_urdf is false -->
  <arg name="run_world" default="false" />
  
  <group if="$(arg run_world)">
    <include file="$(find arm_urdf)/launch/arm_urdf.launch" />
  </group>
  
  <!-- Launch cam_cap_pub.py -->
  <node name="cam_cap_pub_node" pkg="arm_urdf" type="cam_cap_pub.py"  />
  <!-- <node name="cam_cap_pub_node" pkg="arm_urdf" type="cam_cap_pub.py" output="screen" /> -->


  <!-- Launch BoundingBox_with_center.py -->
  <node name="BoundingBox_with_center_node" pkg="arm_urdf" type="BoundingBox_with_center.py"/>
  <!-- <node name="BoundingBox_with_center_node" pkg="arm_urdf" type="BoundingBox_with_center.py" output="screen" /> -->

  <!-- Launch trial.py -->
  <node name="trial_node" pkg="arm_urdf" type="trial.py"  />

  <!-- Launch num_sum.py -->
  <node name="gui_node" pkg="arm_urdf" type="num_sum.py" output="screen" />

  <!-- Launch decision_maker.py -->
  <node name="Decision_making_node" pkg="arm_urdf" type="decision_maker.py" output="screen" />

</launch>
