<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="urdf">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-5.7174E-07 0.0045412 0.098906"
        rpy="0 0 0" />
      <mass
        value="3" />
      <inertia
        ixx="0.032082"
        ixy="1.6235E-06"
        ixz="2.3929E-08"
        iyy="0.032095"
        iyz="6.8566E-09"
        izz="0.049005" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="-0.013855 7.5936E-05 0.086375"
        rpy="0 0 0" />
      <mass
        value="1.5042" />
      <inertia
        ixx="0.0065536"
        ixy="6.6422E-06"
        ixz="1.0195E-05"
        iyy="0.0045478"
        iyz="-1.6449E-07"
        izz="0.0031806" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="revolute">
    <origin
      xyz="0 0.00454 0.27675"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="0.29593 0.00046382 0.12519"
        rpy="0 0 0" />
      <mass
        value="1.9118" />
      <inertia
        ixx="0.0024277"
        ixy="4.5242E-07"
        ixz="-4.6356E-05"
        iyy="0.0037051"
        iyz="2.5666E-07"
        izz="0.004494" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="revolute">
    <origin
      xyz="0 0 0.11125"
      rpy="0 -1.5708 0" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="0.32444 -6.8657E-07 0.039405"
        rpy="0 0 0" />
      <mass
        value="1.5893" />
      <inertia
        ixx="0.0019367"
        ixy="8.7731E-09"
        ixz="0.00010307"
        iyy="0.0051265"
        iyz="2.3778E-07"
        izz="0.0054473" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf/meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf/meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="revolute">
    <origin
      xyz="0.55067 0.0010554 0.059019"
      rpy="3.1416 0 0" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="1.3229E-08 -0.0050573 0.035081"
        rpy="0 0 0" />
      <mass
        value="1.3437" />
      <inertia
        ixx="0.002737"
        ixy="-6.2951E-07"
        ixz="-5.0878E-10"
        iyy="0.0024267"
        iyz="0.00017042"
        izz="0.0026175" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf/meshes/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf/meshes/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="revolute">
    <origin
      xyz="0.55 0 -0.10754"
      rpy="-3.1416 0 0" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_5">
    <inertial>
      <origin
        xyz="-0.0036254 2.0253E-08 0.0394"
        rpy="0 0 0" />
      <mass
        value="1.2088" />
      <inertia
        ixx="0.0019848"
        ixy="1.2049E-06"
        ixz="0.00010532"
        iyy="0.0023048"
        iyz="-3.5199E-10"
        izz="0.0020636" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf/meshes/link_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf/meshes/link_5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="revolute">
    <origin
      xyz="0 -0.157 0.14"
      rpy="1.5708 0 0" />
    <parent
      link="link_4" />
    <child
      link="link_5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_6">
    <inertial>
      <origin
        xyz="-8.1852E-05 4.7642E-05 0.015002"
        rpy="0 0 0" />
      <mass
        value="0.74838" />
      <inertia
        ixx="0.0011558"
        ixy="-2.1144E-06"
        ixz="-8.302E-07"
        iyy="0.0013338"
        iyz="-1.2088E-06"
        izz="0.0011771" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf/meshes/link_6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf/meshes/link_6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_6"
    type="revolute">
    <origin
      xyz="-0.157 0 0.14"
      rpy="-1.5708 0 1.5708" />
    <parent
      link="link_5" />
    <child
      link="link_6" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_gripper">
    <inertial>
      <origin
        xyz="0.013255 0.080275 0.00033066"
        rpy="0 0 0" />
      <mass
        value="0.028855" />
      <inertia
        ixx="1.2432E-05"
        ixy="1.8928E-07"
        ixz="3.263E-12"
        iyy="4.3852E-06"
        iyz="-7.5287E-12"
        izz="1.2567E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf/meshes/right_gripper.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf/meshes/right_gripper.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_ee_joint"
    type="revolute">
    <origin
      xyz="0.031487 2.5E-05 0.14715"
      rpy="1.5708 0 -3.1416" />
    <parent
      link="link_6" />
    <child
      link="right_gripper" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_gripper">
    <inertial>
      <origin
        xyz="-0.012568 0.080386 0.00028069"
        rpy="0 0 0" />
      <mass
        value="0.028855" />
      <inertia
        ixx="1.2428E-05"
        ixy="-2.5801E-07"
        ixz="3.3277E-12"
        iyy="4.389E-06"
        iyz="7.4999E-12"
        izz="1.2567E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf/meshes/left_gripper.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf/meshes/left_gripper.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_ee_joint"
    type="revolute">
    <origin
      xyz="-0.031487 2.5E-05 0.14715"
      rpy="1.5708 0 3.1416" />
    <parent
      link="link_6" />
    <child
      link="left_gripper" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>